body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 80px 20px 20px;
  background-color: #f0f2f5;
  color: #333;
}

/* Header Styling */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  margin-bottom: 30px;
  padding: 15px;
  background-color: #70b6f7;
  color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

header h1{
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  width: 18%;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  animation: fadeInDown 1s ease-out;
}

/* Navigation Styling */
#hamburger {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #fff;
  border: 1px solid;
  border-radius: 5px;
}

#nav-content {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Input and Select Styling */
input[type="text"],
select {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 16px;
  width: 100%;
  max-width: 250px;
  transition: box-shadow 0.3s ease;
}

input[type="text"]:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 5px #b2cbe6;
}

/* Country List Styling */
#country-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  /* margin-top: 20px; */
}

/* Country Card Styling */
.country-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 100%;
  max-width: 220px;
  padding: 15px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.country-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.country-card img {
  width: 100%;
  height: 150px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

.country-card img:hover {
  transform: scale(1.05);
}

.country-card h2 {
  font-size: 20px;
  color: #333;
  margin: 10px 0;
}

/* Pagination Controls */
#pagination-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}

#pagination-controls .border {
  border: 1px solid;
  padding: 5px;
  border-radius: 10px;
}

#pagination-controls button {
  background-color: #06aa79;
  color: #fff;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

#pagination-controls button:hover {
  background-color: #848688;
  color: black;
  transform: translateY(-3px);
}

/* Country Details Container */
#country-details-container {
  /* max-width: 100%; */
  /* width: 100%; */
  padding: 20px;
  margin: 0 auto;
  /* background-color: rgb(241, 223, 189); */
  border-radius: 5px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
}

#country-details img{
  width: 50%;
  display: block; /* Makes the image a block element */
  margin: 0 auto; /* Centers it */
}

/* Heading and Paragraph Styles */
#country-details h2 {
  font-size: 24px;
  color: black;
  margin-bottom: 15px;
  text-align: center;
}

#country-details p {
  font-size: 20px;
  color: black;
  padding: 5px;
  margin: 8px 0;
  /* width: 50%; */
  background-color: white;
}

/* Button Styling */
button {
  background-color: #00ffff;
  color: black;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
  background-color: #35ee07;
  transform: translateY(-3px);
}

/* Back Button Styling */
#back-button {
  width: 50%;
  color: #333;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px auto 0; /* Centers the button horizontally */
  font-weight: 900;
  transition: background-color 0.3s;
}

#back-button:hover {
  background-color: #bbb;
}


.country-card {
  position: relative;
}

.favorite-btn {
  background: none;
  border: 1px solid green;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
  /* position: absolute; */
  /* top: 10px; */
  /* right: 10px; */
}
.btn-delete{
  display: flex;
  justify-content:space-between;
}

.favorite-btn:hover {
  transform: scale(1.2);
}

.main-content {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

/* Favorites Strip */
.favorites-strip {
  width: 800px;
  padding: 10px;
  background-color: #f9f9f9;
  border-left: 2px solid #a8a7a7;
  border-bottom: 2px solid #444443;
  display: none;
  position: sticky;
  top: 110px;
  height: 200px;
  overflow-y: auto;
}
.favorites-strip::-webkit-scrollbar {
  display: none;
}

.favorites-strip h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Zebra striping for favorite items */
#favoriteCountriesList li:nth-child(odd) {
  padding-left: 10px;
  background-color: #f1f1f1;
  border-radius: 25px;
  font-size: 1.2rem;
}

#favoriteCountriesList li:nth-child(even) {
  padding-left: 10px;
  background-color: #ffffff;
  font-size: 1.2rem;
}

.favorite-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 5px 0; */
}

.fa-solid{
  color: #ff0000;
  cursor: pointer;
  font-size: 16px;
}
/* ............................................... */
.suggestion-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 5px;
}

.suggestion-item:hover {
  background-color: #f0f0f0;
}

#suggestions {
  background: white;
  color: black;
  position: absolute;
  z-index: 1000;
  width: auto;
  max-height: 200px; 
  overflow-y: auto;
  margin-top: 15.5rem;

}
#suggestions::-webkit-scrollbar {
  display: none;
}

.view-all {
  font-weight: bold;
  /* color: #00ff73; */
  background-color: #b2cbe6;
  cursor: pointer;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ................................................................ */

@media (min-width: 1024px) {
  #country-details-container {
    width: 35%;
  }
}

/* Responsive Styling for Country Details */
@media (min-width: 768px) {
  #country-details-container {
    width: 70%;
  }
  body{
    margin-top: 2rem;
  }
  header h1{
    width: auto;
    font-size: 16px;
  }
}

/* Smaller Screen Adjustments */
@media (max-width: 768px) {
  h1 {
    font-size: 20px;
  }

  input[type="text"],
  select {
    font-size: 14px;
    max-width: 200px;
  }

  .country-card {
    max-width: 350px;
  }

  #country-details h2 {
    font-size: 20px;
  }

  #country-details p {
    font-size: 20px;
    color: black;
    padding: 5px;
    margin: 8px 0;
    background-color: white;
  }
}

/* Responsive Header Layout for Tablet and Above */
@media (min-width: 600px) {
  header {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (max-width: 480px) {
  body {
    padding: 0px;
  }

  header {
    flex-direction: row;
    text-align: center;
  }

  input[type="text"],
  select {
    width: 100%;
    margin-top: 10px;
  }

  .country-card {
    max-width: 350px;
    padding: 10px;
  }

  #country-list {
    margin-top: 6rem;
  }

  h1 {
    font-size: 18px;
  }

  button {
    padding: 8px 10px;
    font-size: 12px;
  }
}

/* Responsive Navigation for Mobile */
@media (max-width: 425px) {
  #hamburger {
    display: block;
    padding: 3px;
    width: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #nav-content {
    display: none;
    flex-direction: column;
    width: 100%;
    gap: 5px;
  }

  #nav-content.active {
    display: flex;
  }
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header h1{
    width: auto;
    text-align: left;
  }
  .main-content{
    padding: 20px;
    gap: 10px;
  }
  #country-details-container {
    width: 90%;
    margin-top: 5rem;
  }
  .favorite-item span{
    font-size: 15px;
  }
  #suggestions{
    margin-top: 3.5rem;
  }
}